:host {
  display: flex;
  height: calc(100vh - 66px);
  background: #2a2a2a !important;
  color: #fff;
}

.cover-container {
  margin-top: 200px;
}
code {
  color: #e3c880;
}
.btn {
  margin: 20px;
  padding: 1rem 3rem;
}
