<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center bg-dark align-content-center">
  <main role="main" class="inner cover">
    <h1 class="cover-heading font-weight-bold" style="font-size: 72px"><code>codeChallenge2020</code></h1>
    <p class="lead">Matt Chamblin</p>
    <p class="lead">
      <a class="btn btn-lg btn-outline-accent font-weight-bold" [routerLink]="['/title']">Movies</a>
      <a class="btn btn-lg btn-outline-accent font-weight-bold" [routerLink]="['/person']">People</a>
    </p>
  </main>
</div>

